<div class="w-full py-6 px-3">
    <div class="border w-full h-full bg-white shadow-lg rounded-3xl overflow-hidden bg-red-900">
        <a href="{{ product_product.url }}">
            {% if product_product.featured_image %}

                <div class="overflow-hidden flex justify-center mt-4 mx-4 bg-gray-100 rounded-3xl">
                    <img
                        class="w-40 h-60 object-cover bg-gray-100 border-radius-40 transition duration-1000 ease-in-out hover:scale-105 transform"
                        src="{{ product_product.featured_image | img_url: 'medium' }}"
                        alt="{{ product_product.featured_image.alt }}"
                    >
                </div>

            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            {% endif %}
        </a>
        <div class="display-flex-start pb-4 px-4">
            {% if section.settings.enable_vendor %}
                <span class="text-sm text-gray-400">{{ product_product.vendor }}</span>
            {% endif %}
            <br>

            <a href="{{ product_product.url }}" class="text-gray-700 uppercase text-sm font-medium">{{ product_product.title }}</a>
            <div style="    display: flex;
                justify-content: space-between;
                width: 100%;">
                <p class="text-black font-bold text-2xl">{{ product_product.price | money }}</p>
                <a href="{{ product_product.url }}">
                    <div class="rounded-full bg-black text-white w-10 h-10 flex justify-center items-center">
                        {% render 'icon-shopping-cart' %}
                    </div>
                </a>
            </div>
        </div>
        <div style="width: 5rem">
            <button type="button" aria-label="Add to wishlist" style="width: 5rem" class="" button-wishlist data-product-handle="{{ product.handle }}">
                <style scoped>
                    .icon {
                        fill: transparent;
                        stroke: #000000;
                        transition: fill 0.3s ease;
                    }

                    .active .icon {
                        fill: red;
                        stroke: #000000;
                    }
                </style>
                {% render 'icon-heart' %}
            </button>
        </div>

    </div>
</div>

